<ul class="collection">
  <li class="collection-item">
    1. Red text with grey background
    {{md-badge class='blue-grey red-text' text="6"}}
  </li>
  <li class="collection-item">2. Green text with orange background
    {{#md-badge class='deep-orange lighten-2 green-text'}}
    	9
    {{/md-badge}}
  </li>
</ul>
