<ul class="collection">
  <li class="collection-item">
    1. Steal Some Underpants
  
    {{md-badge class='deep-purple white-text' text="6"}}
  
  </li>
  <li class="collection-item">2. ???
    
    {{#md-badge class='deep-orange lighten-2 white-text'}}
    	9
    {{/md-badge}}

  </li>
  <li class="collection-item">3. Profit</li>
</ul>