{{md-btn-dropdown text='Button' activates="dropdown-target"}}

<!-- Dropdown Structure -->
<ul id='dropdown-target' class='dropdown-content'>
	<li><a href="#!">one</a></li>
	<li><a href="#!">two</a></li>
	<li class="divider"></li>
	<li><a href="#!">three</a></li>
</ul>
