{{#md-card
  class="medium"
  image="http://materializecss.com/images/office.jpg" as |c|}}
  {{#c.content}}
    <span class="card-title activator">
      Reval Card
      <i class="material-icons right">more_vert</i>
    </span>
    <p>It's way too big for using with this notebook. This staged stock image makes absolutely no sense, although the color scheme is kind of appealing.</p>
  {{/c.content}}

  {{#c.reveal}}
    Stock photography doesn't have to make sense. It doesn't need to have a point, it just needs to look decent enough
  {{/c.reveal}}
{{/md-card}}