<footer class='page-footer deep-purple white-text'>
    <div class="container">
        <div class="row">
            <div class="col m6 s12">
                <h5>Left</h5>
            </div>
            <div class="col m6 s12">
                <h5>Right</h5>
            </div>
        </div>
    </div>
    {{#md-copyright text='Copyright Text'
        startYear=2014
        class='deep-purple darken-1 white-text'}}
        <a class="white-text right" href="#!">
          More Links
        </a>
    {{/md-copyright}}
</footer>