{{#md-switches
    multiple=false
    selection=radioSelection
    optionValuePath='id'
    optionLabelPath='text'}}
      <p>{{md-switch value=1 name="One"}}</p>
      <p>{{md-switch value=2 name="Two"}}</p>
{{/md-switches}}