<div class="row">
  {{md-input value="test" label='Password' type="password" class="col s12"}}
  {{md-input value=65 label='Number' type="number" class="col s12"}}
  {{md-input value='(202) 555-1212' label='Phone' type="tel" class="col s12"}}
  {{md-input value='test@test.com' label='Email' type="email" class="col s12"}}
</div>
