<div class="row">
  <div class="col s12">
    <p>{{md-switch checked=switchValue}}</p>
    <p>{{md-switch checked=switchValue
          onLabel="Enabled"
          offLabel="Disabled"}}</p>
    <p>{{md-switch disabled=notSwitchValue checked=false}}</p>
  </div>
</div>