{{md-parallax image="images/ember-cli.png"}}
  <div class="section grey lighten-2">
      <div class="row container">
          <h4>Hello Parallax</h4>
          <p>My really amazing content goes here...</p>
      </div>
  </div>
{{md-parallax image="images/ember-cli.png"}}