  {{#md-pushpin top=560 bottom=1100 offset=60
    on-pin=(action 'notify' 'pinned')
    on-unpin=(action 'notify' 'unpinned')}}
    <div class="card-panel blue-grey white-text" style="width: 300px">
      Nullam et nibh cursus, euismod nisl vitae, tristique augue. Suspendisse non purus molestie, convallis quam quis, placerat urna. Donec ornare vehicula lacus, sed suscipit leo suscipit vel. Aliquam venenatis, metus ac fermentum faucibus, metus felis faucibus justo.
    </div>
  {{/md-pushpin}}