<div class="row">
  {{md-select content=frameworks
    value=framework
    label="Framework"
    prompt="Please choose..."
    optionLabelPath="content.value"
    optionValuePath="content" class="col s12"}}
</div>
