<nav class="demo-page-nav deep-orange">
    <div class="nav-wrapper">
      <div class="container-fluid">
        <a href="#!" class="brand-logo white-text">
          <img class="ember-logo hide-on-med-and-down" src="images/ember-white.svg" />
          Materialize
        </a>
        <a href="#" data-activates="mobile-demo" class="button-collapse demo-button-collapse deep-orange-text text-darken-2"><i class="mdi-navigation-menu"></i></a>
      </div>
    </div>
  </nav>