{{#if emptySnippet}}
  <div class="row">
    <div class="col s12">
      You must provide a snippet parameter
    </div>
  </div>
{{else}}
  <div class="row">
    <div class="{{exampleFrameClass}}">
      {{partial partialName}}
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      {{code-snippet name=snippetName}}
    </div>
  </div>
{{/if}}
