$button-color: #e51c23;

@import 'materialize';
@import 'code';

nav {
  background-color: #fff;
  position: relative;
}

nav .brand-logo,
nav ul a,
nav a {
  color: $button-color;
}

.index-banner {
  background-color: color('materialize-red', 'lighten-2');
}
.index-banner .container {
  position: relative;
}
.index-banner .header {
  color: #fff;
}
.index-banner h4 {
  margin-bottom: 40px;
}
.index-banner a{
  color: #fff;
}
.github-commit {
  padding: 14px 0;
  height: 36px;
  line-height: 36px;
  background-color: #5c5757;
  color: #e6e6e6;
  font-size: 0.9rem;
}

.header {
  color: color('materialize-red', 'lighten-2');
  font-weight: 300;
}

a {
  color: $button-color;
}

span.badge {
  &.new {
    color: color('materialize-red', 'base');
    background-color: #fff
  }
  &.default-value {
    float: none;
    position: inherit;
  }
}
.intro {
  font-size: 1.2em;
}

/* FIXME: Workaround for https://github.com/Dogfalo/materialize/issues/1079 */
@each $mdi-icon-name, $mdi-icon-value in $mdi-list-icons {
  .#{$mdi-prefix}#{$mdi-icon-name}:before {
    content: "\""+ $mdi-icon-value +"\"";
  }
}

// Qunit test runner style fixes
#qunit-testrunner-toolbar {
  [type="checkbox"] + label {
    margin-left: 25px;
    &:before {
      left: -20px;
    }
  }
  #qunit-modulefilter {
    display: inherit;
  }
}
