
// Qunit test runner style fixes
#qunit-testrunner-toolbar {
  [type="checkbox"] + label {
    margin-left: 25px;
    &:before {
      left: -20px;
    }
  }
  #qunit-modulefilter {
    display: inherit;
  }
}