<input type="radio" class="selectable-item-input" {{bind-attr checked=isSelected id=_inputId name=groupName disabled=disabled value=value}} />
<label class="materialize-selectable-item-label selectable-item-label" >{{name}}{{yield}}</label>

