{{#if title}}
    <span {{bind-attr class=":card-title activator:activator: cardTitleClass"}}>
        {{title}}
        {{#if activator}}
            <i class="mdi-navigation-more-vert right"></i>
        {{/if}}
    </span>
{{/if}}
<p>{{yield}}</p>
