{{#if title}}
  <span class="card-title {{if activator 'activator'}} {{cardTitleClass}}">
    {{title}}

    {{#if activator}}
      <i class="material-icons right">more_vert</i>
    {{/if}}
  </span>
{{/if}}

<p>{{yield}}</p>
