{{#if title}}
  <span class="card-title {{if activator 'activator'}} {{cardTitleClass}}">
    {{title}}

    {{#if activator}}
      <i class="mdi-navigation-more-vert right"></i>
    {{/if}}
  </span>
{{/if}}

<p>{{yield}}</p>
