{{#if isBarType}}
  <div class="{{barClassName}}" style="{{barStyle}}"></div>
{{/if}}

{{#each spinnerClassName in spinnerClassNames}}
  <div class="{{spinnerClassName}}">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
{{/each}}
