{{#ember-wormhole to=destinationElementId}}
  {{#if hasOverlay}}
    <div id="lean-overlay" {{bind-attr class="overlayClassNamesString translucentOverlay:translucent overlay-class"}} {{action 'close'}} style="opacity: 0.5; display: block; z-index: 49;"></div>
  {{/if}}
  {{#ember-modal-dialog-positioned-container classNameBindings="containerClassNamesString container-class"
                                alignment=alignment
                                alignmentTarget=alignmentTarget}}
  <div {{bind-attr class=_modalClassString}} style="display: block; opacity: 1; top: 10%;">
    {{yield}}
  </div>
  {{/ember-modal-dialog-positioned-container}}
{{/ember-wormhole}}
