{{#modal-dialog
  alignment=alignment
  alignmentTarget=alignmentTarget
  translucentOverlay=true
  overlayClassNames='lean-modal'
  clickOutsideToClose=true
  onClose='closeModal'}}
  <div class="{{_modalClassString}}" style="display: block; opacity: 1; top: 10%;">
    {{yield}}
  </div>
{{/modal-dialog}}