{{#modal-dialog
alignment=alignment
alignmentTarget=alignmentTarget
hasOverlay=true
translucentOverlay=true
overlayClass='lean-modal'
onClose='closeModal'}}
  <div class="{{_modalClassString}}" style="display: block; opacity: 1; top: 10%;">
    {{yield}}
  </div>
{{/modal-dialog}}
