{{#modal-dialog
alignment=alignment
alignmentTarget=alignmentTarget
hasOverlay=true
translucentOverlay=true
overlay-class='lean-modal'
close='closeModal'}}
  <div class="{{_modalClassString}}">
    {{yield}}
  </div>
{{/modal-dialog}}
