{{#modal-dialog
alignment=alignment
alignmentTarget=alignmentTarget
hasOverlay=true
translucentOverlay=true
overlay-class='lean-modal'
close=close}}
  <div class="{{_modalClassString}}" style="display: block; opacity: 1; top: 10%;">
    {{yield}}
  </div>
{{/modal-dialog}}
