<div class='nav-wrapper'>
  <div class='container'>
    {{#link-to 'index' class='brand-logo'}}{{name}}{{/link-to}}
    <ul class='right hide-on-med-and-down'>
      {{yield}}
    </ul>
    <ul id='nav-mobile' class='side-nav'>
      {{yield}}
    </ul>
  </div>
  {{#link-to 'index' class='button-collapse' data-activates='nav-mobile'}}
    <i class='mdi-navigation-menu'></i>
  {{/link-to}}
</div>
