<div class="col s12">
  <ul class="tabs">
    {{#each tab in _content}}
      {{md-tab title=tab.title value=tab.id}}
    {{/each}}
    {{yield}}
    <div class="indicator indicator1"></div>
    <div class="indicator indicator2"></div>
  </ul>
</div>
