{{#materialize-navbar name='ember-cli-materialize'}}
  <li>{{#link-to 'buttons'}}Buttons{{/link-to}}</li>
  <li>{{#link-to 'navbar'}}Navbar{{/link-to}}</li>
  <li>{{#link-to 'cards'}}Cards{{/link-to}}</li>
  <li>{{#link-to 'collapsible'}}Collapsible{{/link-to}}</li>
{{/materialize-navbar}}

{{outlet}}
