<nav>
  <div class="container">
    <div class='nav-wrapper'>
      {{#link-to 'index' class='brand-logo'}}ember-cli-materialize{{/link-to}}
      <ul id='nav-mobile' class='right side-nav'>
        <li>{{#link-to 'buttons'}}Buttons{{/link-to}}</li>
      </ul>

      <!-- Include this line below -->
      <a class='button-collapse' href='/' data-activates='nav-mobile'><i class='mdi-navigation-menu'></i></a>
      <!-- End -->

    </div>
  </div>
</nav>

{{outlet}}
