{{example-header title="Badges"}}

<div class='container'>
  {{#options-panel}}
    {{component-option optionId="text"}}
  {{/options-panel}}

  <div class="section">
    {{example-snippet snippet='badges-simple'}}
  </div>
</div>
