{{example-header title="Badges"}}

<div class='container'>
  {{#options-panel}}
    {{component-option optionId="text"}}
  {{/options-panel}}

  <div class="section">
    {{example-snippet snippet='badges-simple'}}
  </div>
  <div class="section">
    <h4 class="col s12 header">Change color and text color</h4>
		<p>To change badge color you just need to use one of the 
			{{#link-to 'colors' }}color classes{{/link-to}}</p>
  </div>
	<div class="section">
    {{example-snippet snippet='badges-color'}}
  </div>
</div>
