<div class="section index-banner">
  <div class="container">
    <div class="row">
      <div class="col s12 m9">
        <h1 class="header">Badges</h1>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class="section">
    <div class="intro">
        <h4 class="col s12 header">This component supports badge options</h4>
        <ul>
          <li>Badge value</li>
          <li>Optional new</li>
        </ul>
    </div>
  </div>
</div>
<div class='container'>
  <div class="section">
    <h4 class="col s12 header">Badge</h4>
    <div class="button-example">
      <div class="col s2" style="float: left">
      {{materialize-badge value=2}}
      {{materialize-badge value=4 isNew=true}}
      {{materialize-badge value="4 Users" isNew=true}}
      <br>
      </div>
      <pre class=" language-markup" style="clear: both">
        <code class=" col s12 language-markup">
          <span>&#123;&#123;</span>materialize-badge value=2<span>&#125;&#125;</span>
          <span>&#123;&#123;</span>materialize-badge value=4 isNew=true<span>&#125;&#125;</span>
          <span>&#123;&#123;</span>materialize-badge value="4 Users" isNew=true<span>&#125;&#125;</span>
        </code>
      </pre>
    </div>
  </div>
</div>
