{{example-header title="Badges"}}

<div class='container'>
  {{#options-panel}}
    {{component-option optionId="text"}}
  {{/options-panel}}

  <div class="section">
    {{example-snippet snippet='badges-simple'}}
  </div>
	<div class="section">
    <h4 class="col s12 header">Changing badge colors</h4>
		<p>To change a badges color just use one of the default materialize colors from <link to colos></p>
		{{example-snippet snippet='badges-colors'}}
  </div>
</div>
