{{#x-component-doc title="md-collapsible" as |doc|}}
  {{#doc.params as |p|}}
    {{#p.param name="type" type="string" default="text"}}
      the input type, consistent with the HTML5 <span class="code">&lt;input type="" /&gt;</span> attribute.
    {{/p.param}}
  {{/doc.params}}
  {{#doc.actions as |a|}}
    {{#a.action name="on-change"}}
      Called whenever the value of the field changes
    {{/a.action}}
  {{/doc.actions}}
{{/x-component-doc}}
{{x-example name='basic-collapsible'}}
