{{example-header title="Copyright"}}

<div class='container'>
    {{#options-panel}}
      {{component-option optionId="text"}}
      {{component-option optionId="startYear"}}
    {{/options-panel}}

    <div class="section">
        <h4 class="col s12 header">Copyright</h4>
        {{example-snippet snippet='copyright-basic' class='copyright-example'}}
    </div>
</div>
