{{#x-example title='Breadcrumbs' name='crumb-basic'}}
<p>We suggest using <a href="https://github.com/poteto/ember-crumbly" target="_blank">ember-crumbly</a> for breadcrumbs. This is an <b>optional</b> dependency, which can most easily used as shown below. </p>
<p>
<ul>
  <li>{{link-to 'First Thing' 'crumb.thing'}}</li>
  <li>{{link-to 'Second Thing' 'crumb.other-thing'}}</li>
  <li>{{link-to 'Third Thing' 'crumb.third-thing'}}</li>
</ul>
</p>
{{/x-example}}

{{outlet}}