<div class="section index-banner">
  <div class="container">
    <div class="row">
      <div class="col s12 m9">
        <h1 class="header"><a href="http://materializecss.com/" target="_blank">Materialize.css</a></h1>
        <h4 class="light deep-orange-text text-lighten-3">A CSS Framework based on <a href="http://www.google.com/design/spec/material-design/introduction.html" target="_blank">Material Design</a> made simple, for Ember.js apps.</h4>
      </div>
    </div>
  </div>
</div>
<div class="github-commit">
  <div class="container">
    <div class="commit">
      <a id="github-button" href="https://github.com/sgasser/ember-cli-materialize" class="btn right grey deep-orange-text lighten-2 text-darken-2 waves-effect waves-light hide-on-med-and-down">
      Github</a>
    </div>
  </div>
</div>

<div class='container'>
  <h2 class="col s12 header">Main features</h2>
  <div class="section">
    <div class="intro">
      <ul>
        <li>Imports Materialize sass (via <a href="https://www.npmjs.com/package/ember-cli-sass" target="_blank">ember-cli-sass</a>) and fonts into your app.</li>
        <li>It's a components library for all Materialize components.</li>
      </ul>
    </div>
  </div>

  <h2 class="col s12 header">Installation</h2>
  <div class="section">
    <pre class=" language-markup">
      <code class=" col s12 language-markup">
        # install via npm
        $ npm install ember-cli-materialize --save-dev
        # make ember-cli fetch internal dependencies
        $ ember g ember-cli-materialize
      </code>
    </pre>
  </div>
</div>
