<div class="section index-banner">
  <div class="container">
    <div class="row">
      <div class="col s12 m9">
        <h1 class="header">Ember Addon</h1>
        <h4 class="light red-text lighten-4">for using <a href="http://materializecss.com/" target="_blank">Materialize</a> - a CSS Framework based on <a href="http://www.google.com/design/spec/material-design/introduction.html" target="_blank">Material Design</a> in Ember applications.</h4>
      </div>
    </div>
  </div>
</div>
<div class="github-commit">
  <div class="container">
    <div class="commit">
      <a id="github-button" href="https://github.com/sgasser/ember-cli-materialize" class="btn-flat right grey-text lighten-5 waves-effect waves-light hide-on-med-and-down">Github</a>
    </div>
  </div>
</div>

<div class='container'>
  <h2 class="col s12 header">Main features</h2>
  <div class="section">
    <div class="intro">
      <ul>
        <li>Imports Materialize sass (via <a href="https://www.npmjs.com/package/ember-cli-sass" target="_blank">ember-cli-sass</a>) and fonts into your app.</li>
        <li>It's a components library for all Materialize components.</li>
      </ul>
    </div>
  </div>

  <h2 class="col s12 header">Usage</h2>
  <div class="section">
    <ul class="collection">
      {{#link-to 'buttons' class="collection-item"}}Buttons<span class="badge">6</span>{{/link-to}}
      {{#link-to 'navbar' class="collection-item"}}Navbar<span class="new badge">1</span>{{/link-to}}
      {{#link-to 'cards' class="collection-item"}}Cards<span class="new badge">1</span>{{/link-to}}
      {{#link-to 'collapsible' class="collection-item"}}Collapsible<span class="new badge">1</span>{{/link-to}}
      {{#link-to 'input' class="collection-item"}}Input<span class="new badge">4</span>{{/link-to}}
      {{#link-to 'loader' class="collection-item"}}Loader<span class="new badge">1</span>{{/link-to}}
      {{#link-to 'parallax' class="collection-item"}}Parallax<span class="new badge">1</span>{{/link-to}}
    </ul>
  </div>

  <h2 class="col s12 header">Installation</h2>
  <div class="section">
    <pre class=" language-markup">
      <code class=" col s12 language-markup">
        # install via npm
        $ npm install ember-cli-materialize --save-dev
        # make ember-cli fetch internal dependencies
        $ ember g ember-cli-materialize
      </code>
    </pre>
  </div>
</div>
