<div class="section index-banner">
    <div class="container">
        <div class="row">
            <div class="col s12 m9">
                <h1 class="header">Modal</h1>
            </div>
        </div>
    </div>
</div>

<div class='container'>
    <div class="section">
        <div class="intro">
            <h4 class="col s12 header">The component supports two options:</h4>
            <ul>
                <li>text, default value <span class="default-value badge">null</span></li>
                <li>startYear, default value <span class="default-value badge">null</span></li>
            </ul>
        </div>
    </div>
    <div class="section">
        <h4 class="col s12 header">Copyright</h4>
        <div class="modal-example">
        {{#materialize-button action='openModal'}}Open modal{{/materialize-button}}
        {{#if modalIsOpen}}
        {{#materialize-modal close='closeModal'}}
          <div class="modal-content">
            <h4>Hello Modal</h4>
            <p>Oh hai there!</p>
          </div>
          <div class="modal-footer">
            <a class=" modal-action modal-close waves-effect waves-green btn-flat" {{action 'agree'}}>Agree</a>
            <a class=" modal-action modal-close waves-effect waves-green btn-flat" {{action 'closeModal'}}>Cancel</a>
          </div>
        {{/materialize-modal}}
        {{/if}}
        </div>
    </div>
</div>
