{{example-header title="Modal"}}

<div class='container'>
  {{#options-panel}}
    {{component-option optionId="close" default="close" description="action called by hitting 'esc' key or clicking on overlay"}}
  {{/options-panel}}


    <div class="section">
        <h4 class="col s12 header">Modal</h4>
        {{#md-btn action='openModal' class="open-modal-button"}}Open modal{{/md-btn}}
        {{example-snippet snippet='modal-basic' class='modal-example' modalIsOpen=modalIsOpen}}
    </div>
</div>
