{{example-header title="Navbar"}}

<div class='container'>
  {{#options-panel}}
    {{component-option optionId="name"}}
  {{/options-panel}}


  <div class="section">
    <h4 class="col s12 header">Navbar with mobile collapse button</h4>
    {{example-snippet snippet='navbar-basic' class='navbar-example'}}
  </div>
</div>
