<div class="section index-banner">
    <div class="container">
        <div class="row">
            <div class="col s12 m9">
                <h1 class="header">Pagination</h1>
            </div>
        </div>
    </div>
</div>

<div class='container'>
    <div class="section">
        <div class="intro">
            <h4 class="col s12 header">The component supports two options:</h4>
            <ul>
                <li>min, default value <span class="default-value badge">1</span></li>
                <li>max, default value <span class="default-value badge">1</span></li>
                <li>current, default value <span class="default-value badge">1</span></li>
                <li>range, default value <span class="default-value badge">5</span></li>
            </ul>
        </div>
    </div>
    <div class="section">
        <h4 class="col s12 header">Pagination</h4>
        <div class="copyright-example">

          <div class="row">
            <div class="col s12">
          {{md-pagination min=1 max=12 current=page range=7}}
            </div>
          </div>


          <pre class=" language-markup">
            <code class=" col s12 language-markup">
  import Ember from 'ember';

  export default Ember.Controller.extend({
    queryParams: ['page'],
    page: 1
  });
            </code>
          </pre>

          <pre class=" language-markup">
            <code class=" col s12 language-markup">
  <span>&#123;&#123;</span>md-pagination min=1 max=100 current=3 range=5<span>&#125;&#125;</span>
            </code>
          </pre>
        </div>
    </div>
</div>
