{{example-header title="Parallax"}}

<div class='container'>
  {{#options-panel}}
    {{component-option optionId="image"}}
  {{/options-panel}}
  <div class="section">
    <h4 class="col s12 header">Parallax</h4>
    {{example-snippet snippet='parallax-basic'}}
  </div>

</div>
