{{#x-component-doc title="md-tabs" as |doc|}}

{{/x-component-doc}}

{{#x-example title='Basic Tabs' name='tabs-basic'}}
  <p>Basic tabs each have an <span class="code">active</span> state.</p>
{{/x-example}}


{{#x-example title='Link Tabs' name='tabs-links'}}
  <p>Link tabs extend from the core <span class="code">\{{link-to}}</span> component. The <span class="code">\{{link-to}}</span> active state dicates where the indicator in the tab set is placed</p>
{{/x-example}}